<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


  <title>eyeorg</title>
  <meta name="description" content="A website to visualise amp maps">

  <!-- Open Sans font -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Bootstrap CSS w/ custom brand color -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Our own CSS tweaks -->
  <link href="/css/custom.css" rel="stylesheet">

  <!-- favicon -->
  <link rel="icon"
      type="image/png"
      href="">

  <!-- facebook shares -->
  <meta property="og:image" content="http://getfoodsniffer.com/wp-content/uploads/2018/10/free-logo-templates-sample-circular-wave-logo-template-1061-224.jpg" />

  <meta property="og:image:secure_url" content="http://getfoodsniffer.com/wp-content/uploads/2018/10/free-logo-templates-sample-circular-wave-logo-template-1061-224.jpg" />

</head>


  <body>

	<div class="container" style="margin-top: 10px; margin-bottom: 20px">
	<div class="row">

		<div class="col-sm-12">

			<nav class="navbar" role="navigation" style="margin-bottom: 0">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" style="margin-top:-10px" href="/index.html"><img src="http://getfoodsniffer.com/wp-content/uploads/2018/10/free-logo-templates-sample-circular-wave-logo-template-1061-224.jpg" height="40px"></a>
				</div>


				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <!-- LINKS (right) -->
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="http://localhost:3000/articles">Home</a></li>
					<li><a href="http://localhost:3000/books/">Visualise</a></li>
					<li><a href="http://localhost:3000/articles/about">About</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->

			  </div><!-- /.container-fluid -->
			</nav><!-- navbar -->

			<hr style="margin-top: 5px; margin-bottom: 0px;">
		</div>  <!-- col -->

	</div>  <!-- row -->



	<!-- ALERTS -->
	<div class="row">
		<div class="col-md-12" id="alerts-container">
		</div>  <!-- col -->
	</div>  <!-- row -->

</div> <!-- container -->


    <div class="container">
  <div class="row" style="margin-top: 50px">
	<div class="col-md-8 col-md-offset-2" align="center">
		<img src="http://getfoodsniffer.com/wp-content/uploads/2018/10/free-logo-templates-sample-circular-wave-logo-template-1061-224.jpg" style="max-height: 450px; width: 100%;">

		<p style="margin-top: 30px; font-size: 24pt;">A website to visualise <span class="emphasize">Amp Map</span> measurements.</p>

		<a href="/test.html" class="btn btn-primary btn-lg center-block" style="margin-top: 100px; width:100%; max-width: 500px;" role="button">
			Click to begin visualisation<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</a>
	</div>  <!-- col -->
</div>  <!-- row -->

</div>  <!-- container -->


	<footer>

	<div class="row" style="margin-top: 100px">

	</div>  <!-- row -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- bbq jquery plugin (for query string deparam function) -->
	<script src="/js/jquery.ba-bbq.min.js"></script>

	<!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



	<!-- Common js code -->
	<script src="/js/common.js"></script>

	<!-- page-specific scripts, if any -->



	   	<!-- Google analytics -->



</footer>


	<!-- testing bar -->
	<div id="test-bar" class="test-bar bg-warning hide" align="center">
		<p><strong>This session is in test mode.</strong> Results will not be recorded.</p>
	</div>

  </body>
</html>
